langgraph
langchain
langchain-core
langchain-groq
python-dotenv
ipykernel
jupyter
streamlit
langgraph-checkpoint-sqlite
langchain-community
ddgs
yfinance
mcp
langchain-mcp-adapters
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
langchain-text-splitters
